@model IEnumerable<MvcPL.Models.AccountViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create account", "Create")|
    @Html.ActionLink("Deposite", "Deposite")|
    @Html.ActionLink("Withdraw","Withdraw")
</p>

@Html.Partial("~/Views/Shared/AccountPartial.cshtml", Model)